/ProjectUASDisprog/nbproject/private/
/ProjectUASDisprog/build/
/ProjectUASDisprog/dist/
/WebServiceProjectUASDisprog/nbproject/private/
/WebServiceProjectUASDisprog/build/
/WebServiceProjectUASDisprog/dist/
/ProjectUasDisprog_Server/nbproject/private/
